@font-face {
  font-family: Roboto;
  src: url("fonts/roboto.ttf") format("truetype");
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
html {
  --shadow: 2px 3px 2px var(--light-gray);
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.sidebar {
  width: 15%;
  background-color: #1992d4;
  box-shadow: var(--shadow);
  color: white;
}

.sidebar div {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
}

.sidebar > :first-child {
  margin: 30px 10px;
}

.sidebar > :first-child img {
  height: 40px;
  width: 40px;
}

.sidebar > *:not(:first-child) {
  margin-top: 10px;
}

.sidebar .bottom {
  position: relative;
  top: 540px;
}

.sidebar img {
  height: 25px;
  width: 25px;
  filter: brightness(0) invert(1);
  margin: 0px 10px;
}

.main {
  width: 85%;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 12% 1fr 1fr 1fr;
  background-color: #e1e8f0;
}

.search {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  padding: 0px 25px;
}

.background {
  border-radius: 5%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1),
    0px 15px 40px rgba(0, 0, 0, 0.02);
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.announcements {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  padding: 15px;
}

.announcements .background {
  height: 380px;
}

.trending {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  padding: 15px;
}

h3 {
  font-size: 24px;
  margin: 6px 0px;
}

h4 {
  margin-bottom: 15px;
}

.profiles {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.project {
  width: 500px;
  padding: 25px;
}

.project .background {
  height: 150px;
}

.search img {
  height: 50px;
  width: 50px;
}

.search input[type="text"] {
  width: 250px;
  height: 30px;
  border-radius: 5%;
  margin: 0px 25px;
  border: 0;
  padding: 5px;
}

.logo {
  grid-column: 3 / 4;
  height: 100px;
  width: 100px;
  margin-top: 25px;
  margin-left: 50px;
}
