@font-face {
  font-family: Roboto;
  src: url("fonts/roboto.ttf") format("truetype");
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
html {
  --shadow: 2px 3px 2px var(--light-gray);
}
.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: #1992d4;
  box-shadow: var(--shadow);
  color: white;
}

.sidebar div {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
}

.sidebar > :first-child {
  margin: 30px 10px;
}

.sidebar > :first-child img {
  height: 40px;
  width: 40px;
}

.sidebar > *:not(:first-child) {
  margin-top: 10px;
}

.sidebar .bottom {
  position: relative;
  top: 540px;
}

.sidebar img {
  height: 25px;
  width: 25px;
  filter: brightness(0) invert(1);
  margin: 0px 10px;
}

.main {
  width: 85%;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 12% 1fr 1fr 1fr;
}

.search {
  border: 1px solid red;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.announcements {
  border: 1px solid blue;
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.trending {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  border: 1px solid yellow;
}
